nav{
    width: 6.4rem;
    background-color: rgb(233,233,233);
    height: auto;
}
nav>a{
    display: block;
    width: 2.1rem;
    height: 0.6rem;
    line-height: 0.6rem;
    float: left;
    border:0.04rem solid #bbb;
    background-color: rgb(233,233,233);
    border-top: none;
    border-left: none;
    text-align: center;
    font-size: 0.3rem;
    font-weight: bold;
    font-family: "微软雅黑";
    color: #000000;
    text-decoration: none;
}
nav>a:hover{
    background-color: #ffffff;
}
.info{
    width: 6.4rem;
    height: auto;
    overflow: hidden;
}
.info>h3{
    width: 6.4rem;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    font-size: 0.3rem;
    font-family: "微软雅黑";
    color: rgb(85,85,85);
    margin-bottom: 0.2rem;
}
.info section img{
    width: 2.8rem;
   height: auto;
   float: left;
   margin: 0.1rem;
}
section>p{
    float: left;
    margin: 0rem;
    width: 3rem;
    height: auto;
    font-family: "微软雅黑";
    line-height: 0.4rem;
}
section>p>.t{
    font-size: 0.3rem;
    color: #555555;
    display: block;
    line-height: 0.5rem;
}
section>p>.p{
    font-size: 0.2rem;
    color: turquoise;
}
section .inf{
    width: 6rem;
    height: auto;
    font-size: 0.25rem;
    margin: 0.01rem;
    clear: both;
}
section>.inf>span{
    display: block;
    width: 2.5rem;
    height: 0.4rem;
    margin: 0.1rem;
    float: left;
    line-height: 0.4rem;
}
.form{
   width: 6.2rem;
   height: auto;
   line-height: 0.4rem;
   font-size: 0.3rem;
   margin: 0.2rem 0.1rem;
}
.form p{
    width: 6rem;
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.3rem;
    text-align: center;
    margin: 0.1rem;
}
.form p span{
    display: block;
    float: left;
    width: 2.5rem;
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.3rem;
    text-align: right;
    font-size: "微软雅黑";
}
.form p input[type="text"]{
    width: 2.5rem;
    height: 0.3rem;
    line-height: 0.4rem;
    border: 0.01rem solid #888;
    border-radius: 0.02rem;
    font-size: 0.3rem;
    color: #555555;
}
.form p input[type="submit"]{
    width: 2.5rem;
    height: 0.5rem;
    font-size: 0.3rem;
    line-height: 0.3rem;
    border-radius: 0.05rem;
}

